<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PCB.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6575A6CC11FCFCF0006D983A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6599FA1413072DFD00A50260</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6599FA461307584200A50260</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
